# Local Development
# PORT=5000
# DATABASE_URL=postgresql://user:password@localhost:5432/tabletalk
# NODE_ENV=development
# DB_SSL=false

# Digital Ocean Production
PORT=8080
DATABASE_URL=postgresql://doadmin:your-password@your-host:25060/defaultdb
NODE_ENV=production
DB_SSL=true
