version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/javascript-node:1-18-bullseye
    volumes:
      - ..:/workspaces/table-talk:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
    network_mode: service:db
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: tabletalk
    ports:
      - "5432:5432"

volumes:
  postgres-data:
